<div *ngIf="!success" class="wrapper">
  <h2  class="m-16"> Register form </h2>
  <form class="p-16" [formGroup]="form" (ngSubmit)="register()">
    <app-input *ngFor="let field of fields"
               [name]="field.name"
               [label]="field.label"
               [type]="field.type"
               [formGroup]="form">
    </app-input>
    <button class="btn" [disabled]="!form.valid" type="submit">Send</button>
  </form>
</div>

<div *ngIf="success" class="wrapper">
  <h2  class="m-16"> Todo fue bien!</h2>
</div>
