<div class="group">
  <div *ngIf="formGroup; else noControl"  [formGroup]="formGroup">
      <input [formControlName]="name" [type]="type">
      <span class="highlight"></span>
      <span [ngClass]="{'error': hasError()}" class="bar"></span>
      <span class="hint"> {{ getOneError() }}</span>
    <label>{{ label }}</label>
  </div>
  <ng-template #noControl>
    <input [type]="type">
    <span class="highlight"></span>
    <span class="bar"></span>
    <span class="hint">HINT</span>
    <label>{{ label }}</label>
  </ng-template>

</div>

